<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>xingzuo</key>
	<array>
		<string>白羊座</string>
		<string>金牛座</string>
		<string>双子座</string>
		<string>巨蟹座</string>
		<string>狮子座</string>
		<string>处女座</string>
		<string>天秤座</string>
		<string>天蝎座</string>
		<string>射手座</string>
		<string>摩羯座</string>
		<string>水瓶座</string>
		<string>双鱼座</string>
	</array>
	<key>xueli</key>
	<array>
		<string>高中及以下</string>
		<string>中专</string>
		<string>大专</string>
		<string>本科</string>
		<string>硕士</string>
		<string>博士</string>
	</array>
	<key>zhiye</key>
	<array>
		<string>待业</string>
		<string>自由职业</string>
		<string>在校学生</string>
		<string>待业</string>
		<string>教育/科研</string>
		<string>服务业</string>
		<string>交通运输</string>
		<string>政府机构</string>
		<string>军人/警察</string>
		<string>财务/审计</string>
		<string>销售</string>
		<string>客服</string>
		<string>计算机/互联网</string>
		<string>通信/电子</string>
		<string>生产/制造</string>
		<string>物流/仓储</string>
		<string>商贸/采购</string>
		<string>人事/行政</string>
		<string>高级管理</string>
		<string>广告/市场</string>
		<string>传媒/艺术</string>
		<string>医疗/护理</string>
		<string>金融/银行/保险</string>
		<string>建筑/地产</string>
		<string>咨询/顾问</string>
		<string>法律</string>
		<string>其他职业</string>
	</array>
	<key>yueshouru</key>
	<array>
		<string>3000元</string>
		<string>5000元</string>
		<string>8000元</string>
		<string>12000元</string>
		<string>15000元</string>
		<string>20000元</string>
		<string>30000元</string>
		<string>50000元</string>
	</array>
	<key>myheight</key>
	<array>
		<string>140com</string>
		<string>141com</string>
		<string>142com</string>
		<string>143com</string>
		<string>144com</string>
		<string>145com</string>
		<string>146com</string>
		<string>147com</string>
		<string>148com</string>
		<string>149com</string>
		<string>150com</string>
		<string>151com</string>
		<string>152com</string>
		<string>153com</string>
		<string>154com</string>
		<string>155com</string>
		<string>156com</string>
		<string>157com</string>
		<string>158com</string>
		<string>159com</string>
		<string>160com</string>
		<string>161com</string>
		<string>162com</string>
		<string>163com</string>
		<string>164com</string>
		<string>165com</string>
		<string>166com</string>
		<string>167com</string>
		<string>168com</string>
		<string>169com</string>
		<string>170com</string>
		<string>171com</string>
		<string>172com</string>
		<string>173com</string>
		<string>174com</string>
		<string>175com</string>
		<string>176com</string>
		<string>177com</string>
		<string>178com</string>
		<string>179com</string>
		<string>180com</string>
		<string>181com</string>
		<string>182com</string>
		<string>183com</string>
		<string>184com</string>
		<string>185com</string>
		<string>186com</string>
		<string>187com</string>
		<string>188com</string>
		<string>189com</string>
		<string>190com</string>
		<string>191com</string>
		<string>192com</string>
		<string>193com</string>
		<string>194com</string>
		<string>195com</string>
		<string>196com</string>
		<string>197com</string>
		<string>198com</string>
		<string>199com</string>
		<string>200com</string>
		<string>201com</string>
		<string>202com</string>
		<string>203com</string>
		<string>204com</string>
		<string>205com</string>
		<string>206com</string>
		<string>207com</string>
		<string>208com</string>
		<string>209com</string>
		<string>210com</string>
	</array>
	<key>myolder</key>
	<array>
		<string>18岁</string>
		<string>19岁</string>
		<string>20岁</string>
		<string>21岁</string>
		<string>22岁</string>
		<string>23岁</string>
		<string>24岁</string>
		<string>25岁</string>
		<string>26岁</string>
		<string>27岁</string>
		<string>28岁</string>
		<string>29岁</string>
		<string>30岁</string>
		<string>31岁</string>
		<string>32岁</string>
		<string>33岁</string>
		<string>34岁</string>
		<string>35岁</string>
		<string>36岁</string>
		<string>37岁</string>
		<string>38岁</string>
		<string>39岁</string>
		<string>40岁</string>
		<string>41岁</string>
		<string>42岁</string>
		<string>43岁</string>
		<string>44岁</string>
		<string>45岁</string>
		<string>46岁</string>
		<string>47岁</string>
		<string>48岁</string>
		<string>49岁</string>
		<string>50岁</string>
		<string>51岁</string>
		<string>52岁</string>
		<string>53岁</string>
		<string>54岁</string>
		<string>55岁</string>
		<string>56岁</string>
		<string>57岁</string>
		<string>58岁</string>
		<string>59岁</string>
		<string>60岁</string>
	</array>
</dict>
</plist>
